<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springsecurity.demo.mapper.UserMapper">
    <resultMap id="userMap" type="com.springsecurity.demo.model.SysUser">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <collection property="roles" ofType="com.springsecurity.demo.model.SysRole">
            <result column="name" property="name"/>
        </collection>
    </resultMap>
    <select id="findByUserName"  resultMap="userMap">
        select u.*
        ,r.name
        from Sys_User u
        LEFT JOIN sys_role_user sru on u.id= sru.Sys_User_id
        LEFT JOIN Sys_Role r on sru.Sys_Role_id=r.id
        where username= #{username}
    </select>


    <insert id="addUser" parameterType="com.springsecurity.demo.model.SysUser" useGeneratedKeys="true" keyProperty="id">
    insert into sys_user(username,password) values (#{u.username},#{u.password})
    </insert>

    <delete id="deleteUser">
    delete from sys_user
    where id = #{id}
    </delete>

    <select id="getUserById"  resultMap="userMap">
        select u.*
        ,r.name
        from Sys_User u
        LEFT JOIN sys_role_user sru on u.id= sru.Sys_User_id
        LEFT JOIN Sys_Role r on sru.Sys_Role_id=r.id
        where id= #{id}
    </select>

    <select id="getUserList" resultMap="userMap">
        select * from sys_user
        ORDER BY id
        limit #{page} , #{number}
    </select>

    <update id="modifyUser">
    update sys_user set username = #{u.username},password = #{u.password}
    where id = #{u.id}
    </update>
</mapper>
